.om-order-list li {
  padding : 0.25em 0.5em;
  border-radius : 0.5em;
}
.om-order-list li h3 {
  display : inline-block;
  margin-left : 1em;
}
.om-date-info {
  margin : 0 1em;
  line-height : 1.8em;
}
.om-order-select:hover {
  background-color : #bcf;
  cursor : pointer;
}
.om-new-order {
  float : right;
  margin : 1em;
  padding : 0.125em 0.5em;
  line-height : 1.5em;
  border : 1px solid transparent;
  border-radius : 0.25em;
  background-color : #abf;
  color : #23282d;
  text-decoration : none;
}
.om-new-order:hover {
  background-color : #89f;
  border-color : #abf;
  color : #23282d;
}
.om-form-row {
  padding : 0.25em;
}
.om-form-row label, .om-form-row select {
  display : inline-block;
  vertical-align : baseline;
}
.om-form-row .smallest, .om-form-row input[type='text'].smallest {
  width : 4%;
}
.om-form-row .smaller, .om-form-row input[type='text'].smaller {
  width : 6%;
}
.om-form-row .small, .om-form-row input[type='text'].small {
  width : 12%;
}
.om-form-row .medium {
  width : 18%;
}
.om-form-row .large {
  width : 32%;
}
.om-form-row .header {
  text-align : center;
  cursor : default;
}
.om-form-row input[type='text'] {
  width : 32%;
}
.om-form-row input[type='text'].medium {
  width : 18%;
}
.om-form-row input.om-error {
  border-color : #f99;
}
span.om-error-message {
  display : inline-block;
}
.om-error-message {
  padding : 0.125em 0.25em;
  color : red;
}
.om-form-dates {
  border : 1px solid gainsboro;
  padding : 0.25em;
  margin-bottom : 1em;
}
.om-form-dates label {
  margin-left : 4em;
  display : inline-block;
  vertical-align : baseline;
  width : 10%;
}
input[type='submit'].button {
  margin-top : 1em;
}
label.om-delete-product, label.om-add-product, label.om-undelete-product {
  display: inline-block;
  font-family: dashicons;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  line-height: 1;
  text-align: center;
  text-decoration: inherit;
  vertical-align: middle;
}
.om-delete-product::before {
  content : "\f158";
  opacity : 0.5;
}
.om-delete-product:hover::before {
  content : "\f153";
  opacity : 0.8;
  cursor : pointer;
}
.om-add-product::before {
  content : "\f132";
  opacity : 0.5;
}
.om-add-product:hover::before {
  content : "\f502";
  opacity : 0.8;
  cursor : pointer;
}
.om-undelete-product::before {
  content : "\f132";
  opacity : 0.2;
}
.om-undelete-product:hover::before {
  content : "\f502";
  opacity : 0.5;
  cursor : pointer;
}
.om-gas-list {
  background-color : white;
  border : 1px solid #e5e5e5;
  border-radius : 0.5em;
  box-shadow : 0 1px 1px rgba(0, 0, 0, 0.04);
  margin-right : 1em;
  padding : 1em;
}
.om-gas-list ul {
  border : 1px solid #e5e5e5;
  box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.04);
  min-height : 20em;
  overflow : auto;
}
.om-gas-list li {
  padding : 0.5em;
  margin : 0;
  border-bottom : 1px solid #eee;
}
.om-gas-list li:hover {
  background-color : gainsboro;
  cursor : pointer;
}
.om-gas-card {
  background-color : white;
  border: 1px solid #e5e5e5;
  border-radius : 0.5em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  padding : 1em;
  display : inline-block;
}
