.om-order-list li {
  border-radius : 0.5em;
  background-color : #edf;
}
.om-date-info {
  margin : 0 1em;
}

/* Modulo d'Ordine */
.om-unita-misura {
  font-size : 80%;
}

#sidebar {
  display : none;
}
#content {
  width : auto;
}

.form-horizontal .row.row-bordered::after {
  content : "";
  display : block;
  height : 1em;
  border-bottom : 1px solid #ccc;
}

/* FIXME : Hack to hide leftover menu pieces */
#header-sx, #headerimg, #furgone {
  height : 368px;
  overflow : hidden;
}
